* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease 0s;
}

body {
  /* font-family: "Lato", sans-serif; */
  height: 2000px !important;
  background: #444;
  color: white;
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.8;
  position: relative !important;
}

.secondary {
  background-color: #34495e !important;
}

/* MENU */

.bgcolor.scrolled {
  transition: 750ms ease-in all;
  background-color: rgb(0, 0, 0) !important;
}

.navbar {
  /* background-color: rgb(0, 0, 0); */
  font-weight: bold;
  padding-top: 22px !important;
  padding-bottom: 22px !important;
  border-bottom: none !important;
}

.navbar-nav a {
  color: royalblue !important;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease-in !important;
  letter-spacing: 1px;
  overflow: hidden !important;
}

#logo {
  color: white !important;
  transition: all 0.5s ease-in !important;
}

#logo:hover {
  color: rgb(255, 255, 255) !important;
}

.navbar-nav a {
  color: ghostwhite !important;
}

.navbar-nav a:hover {
  color: white !important;
}

.navbar-toggler {
  border: 1px solid white !important;
  transition: all 0.5s ease-in;
  color: white !important;
  background-color: transparent !important;
}

.navbar-nav .contacts {
  border: 1px solid white;
  border-radius: 50px;
  background-color: black;
}
#image {
  border-radius: 6rem !important;
}
#typed {
  color: rgb(255 157 0) !important;
}

/* ABOUT */

#about {
  /* background: no-repeat url(../images/head.jpg) center !important; */
  background-color: #00000075; /*royalblue; */
  background-size: cover !important;
  width: 100% !important;
  padding-top: 13rem;
  padding-bottom: 6rem;
}

#about .heading h1 {
  color: #fff;
}

section .heading {
  text-align: center;
  padding-bottom: 40px;
}

#profile-picture {
  text-align: center;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

#button {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 1s ease-in !important;
}


/*Contact section */

.contact p {
  color: white;
}

/* FOOTER */

footer {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.75);
}
footer .fas {
  font-size: 25px;
  color: white !important;
  height: 30px;
}
.fab {
  font-size: 2rem !important;
}

/* MAIN INDEX */
main {
  margin: 0 30px;
}

main h1,
main h2,
main h3 {
  font-family: "Rabbit", arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

main h1 {
  font-size: 4rem;
  text-align: center;
}

main h1 span {
  letter-spacing: 5px;
  text-transform: none;
}

/*section clothing*/
main h2 {
  border-left: 3px solid rgba(0, 0, 0, 0.075);
  border-top: 3px solid rgba(0, 0, 0, 0.075);
  letter-spacing: 1px;
  font-size: 2rem;
}

.article {
  border: 1px solid #fff !important;
  color: white !important;
  margin-bottom: 35px !important;
  padding: 20px !important;
  text-align: center !important;
  box-shadow: 0 0 0.3rem 0 rgb(0, 0, 0) !important;
  background-color: transparent !important;
}

.article img {
  width: 100%;
  filter: grayscale(100%);
}

.article img:hover {
  filter: none;
}

main .clothing h3 {
  border-bottom: 2px solid #ff9d00;
  color: #ff9d00;
  font-weight: normal;
  font-size: 2rem;
  margin: 20px 0;
}

main .clothing a {
  background-color: #ff9d00;
  color: #fff;
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

main .clothing article a:hover {
  background-color: #e58a02;
}

/*footer media*/

footer .sociaux a,
footer a {
  border: 1px solid #fff;
  display: inline-flex;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem;
  text-decoration: none !important;
}

footer a:hover {
  text-decoration: none;
  background-color: #ff9d00;
  transition: all 1s ease-in;
}

footer #monBouton {
  border: 1px solid #fff;
  font-size: 1rem;
  display: inline-flex;
  border-radius: 1rem;
  color: white;
  padding: 0.4rem 2rem;
}

/*ANIMATION*/
@keyframes bounce {
  /*dÃ©claration de l'animation. On lui donne un nom et on construit l'animation*/
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

/* MEDIA QUERIES */
/*360px*/
@media screen and (min-width: 360px) {
  header img {
    width: 250px; /*Force l'image Ã  250px Ã  partir de 360px et supÃ©rieur*/
  }
}

/*600px*/
@media screen and (min-width: 600px) {
  footer nav a {
    /*petit ajustement au niveau des balises <a> dans la nav du footer, pour qu'elles se mettent en ligne*/
    padding: 15px;
    flex-basis: auto; /*Pour cela on force le flex-basis de chaque items Ã  passer en auto*/
  }
}

/*660px*/
@media screen and (min-width: 660px) {
  header {
    background: linear-gradient(90deg, white 0%, white 50%, #333 50%, #333 100%);
  }
}

/*TABLET 768px*/
@media screen and (min-width: 768px) {
  /* HEADER */
  header {
    background: linear-gradient(130deg, white 0%, white 50%, #333 50%, #333 100%);
  }

  header img {
    margin-bottom: 0;
  }

  header .flex-header {
    display: flex;
    justify-content: space-between;
  }

  /* MAIN INDEX */
  /*section clothing*/
  /*main .article > div {*/
  /*On vise uniquement la <did> directement enfant de l'Ã©lÃ©ment ayant pour class="clothing"*/
  /*
    display: flex; */
  /* flex-wrap: wrap; /*On force le retour Ã  la ligne des items*/
  /*justify-content: space-between;
  }
*/
}

@media screen and (min-width: 1025px) {
  /*s'applique Ã  partir de 1025px et supÃ©rieur*/
  .container {
    margin: 0 auto;
    max-width: 1500px;
  }

  /*HEADER*/
  header img:hover {
    transform: rotate(15deg);
  }

  header nav a:hover {
    transform: translateY(10px);
  }

  /* MAIN INDEX */
  /*section clothing*/
  /* main .article > div {
    display: flex;
    flex-wrap: nowrap; /*On annule le wrap appliquÃ© plus haut dans le media query 768px*/
  /* justify-content: space-between;
  } */

  main .article {
    /* display: flex;
    flex-direction: column;
    flex-basis: 23%;
    justify-content: space-between; */
  }

  main .article:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    transform: scale(1);
  }

  /* main .article:first-of-type {
    margin-left: 0;
  } */

  /* main .article:last-of-type {
    margin-right: 0;
  } */

  /*section media*/
  main .media div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  main .media article {
    padding-right: 25px;
    text-align: left;
  }

  main .media article i {
    display: inline-block;
    margin: 0 50px 0 0;
  }

  main .media article i:hover {
    animation: bounce 0.35s ease infinite alternate; /*appel de l'annimation*/
  }
}
